// ------ Placeholders ------ //

%base-font-style {
	font-family: $base-font-family;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
	color: $font-color;
	@media #{$small} { font-size: $font-size-small; }
	@media #{$large} { font-size: $font-size-large; }
}

%a {
	@include transition(color $transition-speed);
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	font-family: $alt-font-family;
	&:hover {
		color: $link-color-hover;
		cursor: pointer;
	}
}

%h1 {
	@include get-font-size(2.2);
	font-weight: bold;
	font-family: $alt-font-family;
}

%h2 {
	@include get-font-size(1.6);
	font-weight: bold;
	font-family: $alt-font-family;
	display: inline-block;
	&:after {
		content: "";
		display: inline-block;
		@include size(100% 10px);
		background-image: url('/img/sine-pattern-thick-blue.svg');
		background-size: 20px;
		background-repeat: repeat-x;
		background-position: center;
	}
}

%h3 {
	@include get-font-size(1);
	font-weight: bold;
}

%h4 {
	@include get-font-size(0.75);
	font-weight: bold;
}

%p {
	@include clearfix;
	@include get-font-size(1);
}

%tiny-text {
	@include get-font-size(0.75);
}

%headline {
	@include get-font-size(1.6);
	font-family: $alt-font-family;
}


// ------ Elements ------ //

body {
	background-color: $bg-color;
}

html 					{ @extend %base-font-style; }
h1 						{ @extend %h1; }
h2 						{ @extend %h2; }
h3 						{ @extend %h3; }
h4 						{ @extend %h4; }
p 						{ @extend %p; }
a 						{ @extend %a; }
p.headline 				{ @extend %headline; }
p.caption  				{ @extend %tiny-text; }

.caption + p {
	margin-top: $spacing*2;
}

p a,
ul a {
	font-size: 1.1em;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

ol, ul {
	@include get-font-size(1);
	margin-left: $spacing*2;

	li {
		padding-left: $half-spacing;
	}

	+ p {
		margin-top: $spacing;
	}

	+ h3 {
		margin-top: $spacing*2;
	}
}

ol {
	list-style: decimal;
}

ul {
	list-style: circle;
}


// ------ Layout ------ //

h1, h2, h3, h4 {
	margin: 0;
	+ p, + ol, + ul {
		margin-top: $spacing;
	}
	+ h3 {
		margin-top: $spacing*2;
	}
}

p {
	margin: 0;
	+ p, + ol, + ul {
		margin-top: $spacing;
	}
	+ h3 {
		margin-top: $spacing*2;
	}
}

hr {
	border: none;
	height: 1px;
	margin: $spacing*2 0;
	@media #{$small} {
		margin: $spacing*1.5 0;
	}
}

.img-wrapper {
	margin-top: $spacing*2;

	+ .caption {
		margin-top: $spacing;
	}

	+ p {
		margin-top: $spacing*2;
	}
}
