// ------ Placeholders ------ //

%base-element-padding {
	padding: 0 $spacing*4;
	@media #{$small} {
		padding: 0 $spacing*1.5;
	}
}

%base-font-style {
	font-family: $base-font-family;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
	color: $font-color;
	@media #{$small} { font-size: $font-size-small; }
	@media #{$large} { font-size: $font-size-large; }
}

%a {
	@include transition(color, $transition-speed);
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: $link-color-hover;
		cursor: pointer;
	}
}

%h1 {
	@include get-font-size(2.2);
	font-weight: bold;
	font-family: $alt-font-family;
}

%h2 {
	@include get-font-size(1.2);
	font-weight: bold;
}

%h3 {
	@include get-font-size(1);
	font-weight: bold;
}

%h4 {
	@include get-font-size(0.75);
	font-weight: bold;
}

%p {
	@include get-font-size(1);
}

%tiny-text {
	@include get-font-size(0.75);
}

%headline {
	@include get-font-size(1.6);
	font-family: $alt-font-family;
}


// ------ Elements ------ //

body {
	background-color: $light-pink;
	background-image: url('/img/pattern.png');
	background-size: 200px auto;
	background-repeat: repeat;
	padding: 0 $half-spacing;
}

html 			{ @extend %base-font-style; }
h1 				{ @extend %h1; }
h2 				{ @extend %h2; }
h3 				{ @extend %h3; }
h4 				{ @extend %h4; }
p 				{ @extend %p; }
a 				{ @extend %a; }
.headline 		{ @extend %headline; }
.caption  		{ @extend %tiny-text; }

.caption {
	margin-bottom: $spacing*2;
	text-align: center;
}


// ------ Layout ------ //

h1, h2, h3, h4 {
	margin: 0;
	+ p {
		margin-top: $spacing;
	}
}

p {
	margin: 0;
	+ p {
		margin-top: $spacing;
	}
	+ h3 {
		margin-top: $spacing*2;
	}
}

h1, h2, h3, h4, p {
	@extend %base-element-padding;
}

hr {
	border: 1px dashed $divider-color;
	margin: $spacing*3 0;
	@media #{$small} {
		margin: $spacing*2 0;
	}
}

