$logo-size: 100px;
@media #{$small} {
	$logo-size: 60px;
}

.page-wrapper {
	padding-top: $spacing;
	@include clearfix;
}

.page__navigation {
	width: 100%;
	max-width: 460px;
	display: flex;
    justify-content: space-around;
    margin: 0px auto ($spacing + $logo-size/2) auto;
    a {
    	display: inline-block;
		padding: $half-spacing;
    }
}

.page__header {
	text-align: center;
	margin-bottom: $spacing*2;
	@media #{$small} {
		margin-bottom: $spacing*1.5;
	}
}

.page__header__logo {
	@include position(absolute, $logo-size*-0.5 0px null 0px);
	@include size($logo-size);
	@include transition(background $transition-speed*2);
	margin: 0 auto;
	padding: 10px;
	background: $pink;
	border-radius: $logo-size/2;
	&:hover {
		background: $link-color-hover;
	}

	img {
		display: block;
		margin: 0 auto;
		@include size(100%);
	}
}

.page__header__title {
	margin-top: $spacing;
	@media #{$small} {
		margin-top: $half-spacing;
	}
}

.page__block {
	max-width: $page-max-width-small;
	margin: 0 auto;
	position: relative;
	background: $white;
	border-radius: 2px;
	@include get-shadow-color(rgba($pink, 0.3));

	+ .page__block {
		margin-top: $spacing*4;
		@media #{$small} {
			margin-top: $spacing*3;
		}
	}
}

.page__block--main {
	padding: $logo-size/2 0 $spacing*4 0;
	@media #{$small} {
		padding-bottom: $spacing*3;
	}
}

.page__block--role {
	padding: $spacing*4 0;
	@media #{$small} {
		padding: $spacing*3 0;
	}
}

.block__footer {
	margin-top: $spacing*3;
	@extend %base-element-padding;
	padding-top: $spacing*2;
	padding-bottom: $spacing*2;
	border-top: 1px dashed $divider-color;
	position: relative;
	text-align: center;

	@media #{$small} {
		margin-top: $spacing*2;
	}
}

$footer-logo-size: 50px;
$footer-logo-padding: $half-spacing;
$footer-height: ($footer-logo-size + $footer-logo-padding*2) + $spacing*3;

@include sticky-footer(
	$footer-height,
	'.page-wrapper',
	'.page',
	'.footer'
);

.footer {
	padding: $spacing*1.5;
	text-align: center;
	@include user-select(none);
}

.footer__logo {
	padding: $footer-logo-padding;
	display: inline-block;
	background: $bg-color;
	border-radius: $footer-logo-size/2 + $footer-logo-padding;
	img {
		@include size($footer-logo-size);
		display: block;
		opacity: 0.6;
	}
}

.group-section {
	@extend %base-element-padding;
	@include outer-container;
	padding-top: $spacing*1.5;
	line-height: 1.4;
	@media #{$small} {
		padding-top: $spacing;
	}

	+ .group-section {
		border-top: 1px dashed $divider-color;
		margin-top: $spacing*3;
		padding-top: $spacing*3;
		@media #{$small} {
			margin-top: $spacing*2;
			padding-top: $spacing*2;
		}
	}
}

.group__labels {
	@include span-columns(6);
	@media #{$small} {
		width: 100%;
	}

	.label__title {
		@extend %h3;
	}

	.label__description {
		margin-top: $quarter-spacing;
		@media #{$small} {
			margin-top: 0;
		}
	}
}

.group__items {
	@include span-columns(6);
	padding: 0;
	margin: 0;
	list-style: none;

	.items__item {

		+ .items__item {
			margin-top: $spacing;
			@media #{$small} {
				margin-top: $half-spacing;
			}
		}
	}
}

