$logo-size: 100px;

.page-wrapper {
	padding-top: $spacing;
	@include clearfix;
}

.page__navigation {
	width: 100%;
	max-width: 460px;
	display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0px auto ($spacing + $logo-size/2) auto;
    a {
    	display: inline-block;
		padding: $half-spacing;
    }
}

.page__header {
	text-align: center;
	margin-bottom: $spacing*2;
}

.page__header__logo {
	@include position(absolute, $logo-size*-0.5 0px null 0px);
	@include size($logo-size);
	@include transition(background $transition-speed*2);
	margin: 0 auto;
	padding: 10px;
	background: $pink;
	border-radius: $logo-size/2;
	&:hover {
		background: $link-color-hover;
	}

	img {
		display: block;
		margin: 0 auto;
		@include size(100%);
	}
}

.page__header__title {
	margin-top: $half-spacing;
}

.page__block {
	max-width: $page-max-width-small;
	margin: 0 auto;
	padding: $spacing*3 0 $spacing*4 0;
	position: relative;
	@include get-shadow-color(rgba($pink, 0.3));
	background: $white;
	border-radius: 2px;
	&:first-of-type {
		padding-top: $logo-size/2;
	}
	+ .page__block {
		margin-top: $spacing*4;
	}

	@media #{$small} {
		padding: $spacing 0;
	}
}

.block__content {
	img {
		width: 90%;
		max-width: 600px;
		display: block;
		margin: $spacing*2 auto 0 auto;
		@include get-shadow-color($img-shadow-color);
		+ .caption {
			margin-top: $spacing;
		}
		+ p {
			margin-top: $spacing*2;
		}
	}
}

$footer-logo-size: 50px;
$footer-height: $footer-logo-size + $spacing*3;

@include sticky-footer(
	$footer-height,
	'.page-wrapper',
	'.page',
	'.footer'
);

.footer {
	padding: $spacing*1.5;
	img {
		@include size($footer-logo-size);
		display: block;
		margin: 0 auto;
	}
}
