$logo-size: 100px;

.page__navigation {
	width: 100%;
	max-width: 460px;
	display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: $spacing*1.5 auto ($spacing*1.5 + $logo-size/2) auto;
}

.page__header {
	text-align: center;
	margin-bottom: $spacing*1.5;
}

.page__header__logo {
	@include position(absolute, $logo-size*-0.5 0px null 0px);
	@include size($logo-size);
	@include transition(background $transition-speed*2);
	margin: 0 auto;
	padding: 10px;
	background: $pink;
	border-radius: $logo-size/2;
	&:hover {
		background: $link-color-hover;
	}

	img {
		display: block;
		margin: 0 auto;
		@include size(100%);
	}
}

.page__header__title {
	margin-top: $half-spacing;
}

.page__block {
	background: $white;
	max-width: $page-max-width-small;
	margin: 0 auto;
	position: relative;
	padding: $spacing*3 0 $spacing*4 0;
	border-radius: 2px;
	@include get-shadow-color(rgba($pink, 0.3));
	&:first-of-type {
		padding-top: $logo-size/2;
	}

	@media #{$small} {
		padding: $spacing 0;
	}
}

.block__content {
	img {
		width: 90%;
		max-width: 600px;
		display: block;
		margin: $spacing*2 auto 0 auto;
		@include get-shadow-color($img-shadow-color);
		+ .caption {
			margin-top: $spacing;
		}
		+ p {
			margin-top: $spacing*2;
		}
	}
}
