@import "bourbon/bourbon";
@import "neat/neat";

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Rubik:400,500');


// ------ Type Styles ------ //

$base-font-family:	  'Libre Baskerville', serif;
$alt-font-family:     'Rubik', serif;

$font-size-small:     16px;
$font-size-medium:    18px;
$font-size-large:     20px;

$line-height-small:   1.6;
$line-height-medium:  1.7;
$line-height-large:   1.3;


// ------ Colors ------ //

$dark-gray:		#5B616E;
$blue:          #8CC2DD;
$light-blue:	#eef5ff;
$lightest-blue:	#FAFDFF;
$dark-blue:		#70bae0;
$orange:		#EDAA9A;
$white:         #FFFFFF;

$font-color:        $dark-gray;
$link-color:        $blue;
$link-color-hover:  $orange;
$bg-color:          $white;
$bg-alt-color:		darken($lightest-blue, 1%);
$img-shadow-color:  rgba(0,0,0,.1);


// ------ Spacing ------ //

$spacing: 20px;
$half-spacing: $spacing/2;
$quarter-spacing: $spacing/4;


// ------ Layout ------- //

$page-max-width: 720px;


// ------ Breakpoints ------ //

$small-upper-bound: 640px;
$large-lower-bound: 1441px;


// ------ Media Queries ------ //

$small: 'only screen and (max-width: $small-upper-bound)';
$medium: 'only screen and (min-width: $small-upper-bound)';
$large: 'only screen and (min-width: $large-lower-bound)';


// ------ Timing ------ //

$transition-speed: 0.4s;
$transition-speed-faster: 0.2s;

