{% set title = "About" %}
{% set page = "about" %}
{% extends "../layout.html" %}

{% block mainContent %}

	<div class="about__content">
		<div class="pic-column">
			<img src="/img/about-pic.jpg">
			<p class="caption">
				Say hi!
				<a href="mailto:lesliezacharkow@gmail.com">
					lesliezacharkow<br>at gmail dot com
				</a>
			</p>
		</div>

		<div class="about-column">
			<p>I’m a process-loving, big-picture thinker currently practicing UX design and development in the San Francisco Bay Area.</p>
			<p>I graduated with a degree in Industrial Design from <a href="http://www.uarts.edu/" target="_blank">The University of the Arts</a> in Philadelphia, where I learned about development processes and design thinking. My career has gone in a wide array of directions – from fabricating cycling accessories at a product design studio to coding at a technology start-up. Most recently, I was a Senior UX Designer/Developer at <a href="https://opower.com/" target="_blank">Opower</a>, where I helped designers and engineers build products that impact global energy savings.</p>
			<p>My free time is spent working on my Chrome extension, <a href="https://chrome.google.com/webstore/detail/tabby-cat/mefhakmgclhhfbdadeojlkbllmecialg?hl=en" target="_blank">Tabby Cat</a>. The positive feedback I’ve received for this app convinces me there’s plenty of room in our day to day lives for fun, and I’m on the lookout for new opportunities to further this line of work.</p>
			<p>On the road ahead, I’m excited to continue designing systems, and facilitating collaboration among my peers to create meaningful experiences for positive impact.</p>
		</div>
	</div>

	<div class="about__footer">
		<a href="https://twitter.com/lslez">Twitter</a>
		<a href="https://www.linkedin.com/in/lesliezacharkow">LinkedIn</a>
		<a href="https://vimeo.com/user6227463">Vimeo</a>
		<a href="http://cargocollective.com/lllzzz">Cargo</a>
	</div>

{% endblock %}
