{% set page = "home" %}
{% extends "../layout.html" %}

{% block mainContent %}

	<p class="headline">Hi there, I’m Leslie. I’m a UX designer and developer from Philadelphia, living in Berkeley.</p>

	<p>The culmination of my life’s work is a Chrome extension called <a href="https://chrome.google.com/webstore/detail/tabby-cat/mefhakmgclhhfbdadeojlkbllmecialg?hl=en" target="_blank">Tabby Cat</a>. Dogs are coming soon.</p>

	<p>Formerly, I was a Senior UX Designer/Developer at <a href="https://opower.com/" target="_blank">Opower</a>, where I built products that nudged people to save energy. Before that, I worked on the online shopping experience at <a href="http://www.urbanoutfitters.com/urban/index.jsp" target="_blank">Urban Outfitters</a> as a Product Manager/Interaction Designer.</p>

	<p>In my free time, I like to turn off my computer, go outside, and make new friends. <a href="mailto:lesliezacharkow@gmail.com">Say hi!</a></p>

{% endblock %}
