{% set title = "Projects" %}
{% set pagetitle = "Leslie's mark on the 🌎" %}
{% set page = "project-index" %}
{% extends "../layout.html" %}

{% block mainContent %}

	<p class="headline">If you asked me to draw my career path, it would be a wavy line that dips into development and illustration, but always comes back to design.</p>

	<hr>

	<p>My <b>passion project</b> is my Chrome extension, <a href="/projects/side-projects/tabby-cat">Tabby Cat</a>. If you only had 5 minutes to get to know me, I'd suggest installing it and reading <a href="https://superyesmore.com/the-productive-chicken-and-the-happy-egg-3b142fe8fe03bb046ce0c4867189798e" target="_blank">this article</a> about my thoughts on productivity and happiness.</p>

	<hr>

	<p>Most recently, I was a Designer/Developer at <b>Opower</b> where I built experiences that help people save energy. Learn about how I used design systems to make clear, consistent, and configurable products in this <a href="/projects/opower/energy-widgets">case study</a>.</p>
	<p class="caption"></p>

	<hr>

	<p>In my not so distant past, I oversaw the online shopping experience at <b>Urban Outfitters</b> as a Product Manager/Interaction Designer. My biggest contributions were the redesigned <a href="/projects/uo/product-page">product page</a> and <a href="/projects/uo/navigation">navigation</a>.</p>

	<hr>

	<p>Sometimes I freelance graphic design and illustration for <b>Girl Develop It</b>, a non-profit that helps women learn to code. I'm proud to have designed this <a href="/projects/gdi/infographic">infographic</a>, this <a href="/projects/gdi/summit-logo">logo</a>, and these <a href="/projects/gdi/business-cards">cards</a>.</p>

	<hr>

	<p>I like making <b>installations</b> that use technology to <a href="/projects/various-work/trestleator">augment your environment</a> and <a href="/projects/various-work/flora-catalogus">make you think</a>.</p>

	<hr>

	<p>My <b>industrial design thesis project</b> combined my love of soft-product design and cycling into a line of female-friendly commuter gear. <a href="/projects/various-work/cyclista">Learn more</a>.</p>

	<div class="project__footer">
		<p class="caption">For more information about any of my work, <a href="mailto:lesliezacharkow@gmail.com">get in touch</a>!</p>
	</div>

{% endblock %}
