{% set title = "Resume" %}
{% set pagetitle = "The fine print 📠🔍" %}
{% set page = "resume" %}
{% extends "../layout.html" %}

{% block mainContent %}

<div class="page__block page__block--headline">
	<div class="block__content">
		<h1>Me, on paper.</h1>
		<p>Download a copy of my resume <a href="/img/Leslie_Stetz_Resume.pdf" target="_blank" rel="noreferrer noopener">here</a>.</p>
	</div>
</div>

<div class="page__block">
	<div class="block__content">
		{% for resumeSection in resume %}
		{% if resumeSection.groupName == 'Skills' %}
			<h2>{{ resumeSection.groupName }}</h2>
			{% for item in resumeSection.items %}
			<h3>{{ item.label }}</h3>
			<ul class="group__items group__items--skills">
				{% for skill in item.skills %}
				<li class="items__item">{{ skill }}</li>
				{% endfor %}
				{% for extra in item.extras %}
				<li class="items__item"><i>Some</i> {{ extra }}</li>
				{% endfor %}
			</ul>
			{% endfor %}
		{% else %}
			<h2>{{ resumeSection.groupName }}</h2>
			<ul class="group__items">
				{% for item in resumeSection.items %}
				<li class="items__item">
					<a class="item__title" href="{{item.link}}" target="_blank" rel="noreferrer noopener">{{ item.label }}</a>
					<div class="item__job-title">{{ item.title }}</div>
					<div class="item__dates">{{ item.dates | safe }}</div>
				</li>
				{% endfor %}
			</ul>
		{% endif %}

		<hr />

		{% endfor %}

		<div class="headline__footer">
			<a href="mailto:lesliezacharkow@gmail.com">
				<svg version="1.1" title="Email" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
					<path d="M71.2,61.7L48.5,42.4l-4,3.4c-1.3,1.1-2.9,1.7-4.5,1.7c-1.6,0-3.2-0.6-4.5-1.7l-4-3.4L8.8,61.7H71.2z"/>
					<polygon points="74,20.8 51.4,40 74,59.1 	"/>
					<path d="M8.9,18.3L38,43c1.2,1,2.9,1,4,0l29-24.7H8.9z"/>
					<polygon points="6,61.6 6,61.7 6.1,61.7 	"/>
					<polygon points="73.9,61.7 74,61.7 74,61.6 	"/>
					<polygon points="28.6,40 6,20.8 6,59.1 	"/>
					<polygon points="6,18.3 6,18.3 6,18.3 	"/>
				</svg>
			</a>
			<a href="https://twitter.com/lslez" target="_blank" rel="noreferrer noopener">
				<svg version="1.1" title="Twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
					<path d="M77.9,17.1c-2.7,1.2-5.6,2-8.7,2.4c3.1-1.9,5.5-4.8,6.7-8.4c-2.9,1.7-6.2,3-9.6,3.7c-2.8-2.9-6.7-4.8-11.1-4.8
						c-8.4,0-15.1,6.8-15.1,15.1c0,1.2,0.1,2.3,0.4,3.5C27.9,28,16.7,21.9,9.2,12.8c-1.3,2.2-2.1,4.8-2.1,7.6c0,5.3,2.7,9.9,6.7,12.6
						c-2.5-0.1-4.8-0.8-6.9-1.9c0,0.1,0,0.1,0,0.2c0,7.3,5.2,13.5,12.2,14.9c-1.3,0.3-2.6,0.5-4,0.5c-1,0-1.9-0.1-2.9-0.3
						c1.9,6,7.5,10.4,14.2,10.5c-5.2,4.1-11.7,6.5-18.8,6.5c-1.2,0-2.4-0.1-3.6-0.2c6.7,4.3,14.7,6.8,23.2,6.8
						c27.9,0,43.1-23.1,43.1-43.1c0-0.7,0-1.3,0-2C73.3,22.8,75.9,20.1,77.9,17.1z"/>
				</svg>
			</a>
			<a href="https://www.linkedin.com/in/lesliezacharkow" target="_blank" rel="noreferrer noopener">
				<svg version="1.1" title="LinkedIn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
					<path d="M62.4,7H17.6C11.3,7,6.2,12.1,6.2,18.4v43.2c0,6.3,5.1,11.4,11.4,11.4h44.8c6.3,0,11.4-5.1,11.4-11.4V18.4
						C73.8,12.1,68.7,7,62.4,7z M28.8,60.5h-8.3V34h8.3V60.5z M24.7,30.3c-2.7,0-4.8-2.1-4.8-4.8c0-2.6,2.1-4.8,4.8-4.8
						c2.6,0,4.8,2.1,4.8,4.8C29.5,28.2,27.4,30.3,24.7,30.3z M59.8,60.5h-8.3V47.6c0-3.1-0.1-7-4.3-7c-4.3,0-5,3.4-5,6.8v13.1H34V34h7.9
						v3.6h0.1c1.1-2.1,3.8-4.3,7.8-4.3c8.4,0,9.9,5.5,9.9,12.7V60.5z"/>
				</svg>
			</a>
			<a href="https://github.com/lzacharkow" target="_blank" rel="noreferrer noopener">
				<svg version="1.1" title="Github" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
					<path d="M28.7,74.9c1.8,0.3,2.4-0.8,2.4-1.7c0-0.9,0-3.7,0-6.7c-10,2.2-12.1-4.2-12.1-4.2c-1.6-4.1-4-5.2-4-5.2
						c-3.3-2.2,0.2-2.2,0.2-2.2c3.6,0.3,5.5,3.7,5.5,3.7c3.2,5.5,8.4,3.9,10.4,3c0.3-2.3,1.3-3.9,2.3-4.8c-8-0.9-16.3-4-16.3-17.7
						c0-3.9,1.4-7.1,3.7-9.6c-0.4-0.9-1.6-4.5,0.3-9.5c0,0,3-1,9.9,3.7c2.9-0.8,5.9-1.2,9-1.2c3,0,6.1,0.4,9,1.2
						c6.8-4.6,9.8-3.7,9.8-3.7c2,4.9,0.7,8.6,0.4,9.5c2.3,2.5,3.7,5.7,3.7,9.6c0,13.8-8.4,16.8-16.4,17.7c1.3,1.1,2.4,3.3,2.4,6.6
						c0,4.8,0,8.7,0,9.8c0,1,0.6,2.1,2.5,1.7c14.2-4.7,24.5-18.2,24.5-34C75.8,21.1,59.8,5,40,5C20.2,5,4.2,21.1,4.2,40.9
						C4.2,56.7,14.4,70.2,28.7,74.9z"/>

				</svg>
			</a>
		</div>

		<p class="caption">For more information about any of my work, <a href="mailto:lesliezacharkow@gmail.com">get in touch</a>!</p>
	</div>
</div>

{% endblock %}
