{% set title = "Resume" %}
{% set pagetitle = "The fine print 📠🔍" %}
{% set page = "resume" %}
{% extends "../layout.html" %}

{% block mainContent %}

	{% for resumeSection in resume %}
	<div class="group-section">
		<div class="group__labels">
			<div class="label__title">
				{{ resumeSection.groupName }}
			</div>
		</div>
		<ul class="group__items">
			{% for item in resumeSection.items %}
			<li class="items__item">
				<a class="item__title" href="{{item.link}}" target="_blank">{{ item.label }}</a>
				<div class="item__job-title">{{ item.title }}</div>
				<div class="item__dates">{{ item.dates | safe }}</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	<div class="project__footer">
		<p class="caption">View or download the PDF version of my resume, <a href="/img/Leslie_Zacharkow_Resume.pdf" target="_blank">here</a>.</p>
	</div>

{% endblock %}
