@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Rubik:400,500");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #5B616E; }
  @media only screen and (max-width: 640px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 1441px) {
    html {
      font-size: 20px; } }

a {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
  color: #8CC2DD;
  font-weight: bold;
  text-decoration: none;
  font-family: "Rubik", serif; }
  a:hover {
    color: #EDAA9A;
    cursor: pointer; }

h1 {
  font-size: 2.2em;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Rubik", serif; }

h2 {
  font-size: 1.6em;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Rubik", serif;
  display: inline-block; }
  h2:after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 100%;
    background-image: url("/img/sine-pattern-thick-blue.svg");
    background-size: 20px;
    background-repeat: repeat-x;
    background-position: center; }

h3 {
  font-size: 1em;
  line-height: 1.7;
  font-weight: bold; }

h4, .projects .project__details .detail__label {
  font-size: 0.75em;
  line-height: 1.6;
  font-weight: bold; }

p {
  font-size: 1em;
  line-height: 1.7; }
  p:after {
    content: "";
    display: table;
    clear: both; }

p.caption, .projects .project__details .detail__list-item {
  font-size: 0.75em;
  line-height: 1.6; }

p.headline {
  font-size: 1.6em;
  line-height: 1.3;
  font-family: "Rubik", serif; }

body {
  background-color: #FFFFFF; }

.caption + p {
  margin-top: 40px; }

p a,
ul a {
  font-size: 1.1em; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

ol, ul {
  font-size: 1em;
  line-height: 1.7;
  margin-left: 40px; }
  ol li, ul li {
    padding-left: 10px; }
  ol + p, ul + p {
    margin-top: 20px; }
  ol + h3, ul + h3 {
    margin-top: 40px; }

ol {
  list-style: decimal; }

ul {
  list-style: circle; }

h1, h2, h3, h4 {
  margin: 0; }
  h1 + p, h1 + ol, h1 + ul, h2 + p, h2 + ol, h2 + ul, h3 + p, h3 + ol, h3 + ul, h4 + p, h4 + ol, h4 + ul {
    margin-top: 20px; }
  h1 + h3, h2 + h3, h3 + h3, h4 + h3 {
    margin-top: 40px; }

p {
  margin: 0; }
  p + p, p + ol, p + ul {
    margin-top: 20px; }
  p + h3 {
    margin-top: 40px; }

hr {
  border: none;
  height: 1px;
  margin: 40px 0; }
  @media only screen and (max-width: 640px) {
    hr {
      margin: 30px 0; } }

.img-wrapper {
  margin-top: 40px; }
  .img-wrapper + .caption {
    margin-top: 20px; }
  .img-wrapper + p {
    margin-top: 40px; }

.img-wrapper img {
  width: 100%;
  display: inline-block; }
  .img-wrapper img:not(.img--no-shadow) {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); }
  .img-wrapper img.img--small {
    max-width: 600px; }
  .img-wrapper img.img--smaller {
    max-width: 300px; }

.img-wrapper iframe {
  height: 400px;
  width: 100%; }
  @media only screen and (max-width: 640px) {
    .img-wrapper iframe {
      height: 200px;
      width: 100%; } }

.img-wrapper.img-wrapper--composite {
  padding-bottom: 40px; }

.img-wrapper .cycle-slideshow {
  position: relative;
  margin: 0 auto; }

.img-wrapper .cycle-slideshow--small {
  max-width: 600px; }

.img-wrapper + .img-wrapper {
  margin-top: 30px; }

.img-wrapper__scrollable-wrapper {
  position: relative;
  width: 100%;
  text-align: left; }

.scrollable-img {
  display: inline-block;
  height: 500px;
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  overflow-y: hidden;
  border-radius: 3px; }
  .scrollable-img:not(.no-scroll):hover {
    overflow-y: scroll;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 640px) {
      .scrollable-img:not(.no-scroll):hover {
        overflow-y: hidden;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); } }
  .scrollable-img img {
    display: block;
    box-shadow: none; }
  @media only screen and (max-width: 640px) {
    .scrollable-img {
      height: 300px;
      width: 100%; } }
  .scrollable-img.no-scroll {
    overflow-y: hidden; }

.scrollable-img--desktop {
  height: 420px;
  width: 80%; }
  @media only screen and (max-width: 640px) {
    .scrollable-img--desktop {
      height: 210px; } }

.scrollable-img--mobile {
  height: 75%;
  width: 20%;
  position: absolute;
  right: 30%;
  bottom: -40px; }

.scrollable-img--tablet {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 20px;
  right: 0%; }

.page-wrapper {
  margin: 0 auto; }
  .page-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.page__navigation {
  display: flex;
  justify-content: center;
  margin: 40px auto 0 auto; }
  @media only screen and (max-width: 640px) {
    .page__navigation {
      justify-content: left;
      margin: 20px auto 0 auto; } }
  .page__navigation a {
    padding: 10px 0;
    margin: 0 20px; }
    .page__navigation a:after {
      content: " ";
      display: block;
      width: 100%;
      height: 10px;
      margin-top: 5px;
      background-size: 20px;
      background-repeat: repeat-x;
      background-position: center; }
    .page__navigation a.a--current-page {
      color: #EDAA9A; }
      .page__navigation a.a--current-page:after {
        background-image: url("/img/sine-pattern-thick-orange.svg"); }

.page__block {
  margin: 0 auto;
  padding: 80px 20px;
  position: relative; }
  .page__block .block__content {
    max-width: 720px;
    margin: 0 auto; }
  @media only screen and (max-width: 640px) {
    .page__block {
      padding: 60px 20px; } }

.page__block--headline {
  padding-top: 60px; }
  @media only screen and (max-width: 640px) {
    .page__block--headline {
      padding-top: 40px; } }

.page__block:nth-of-type(odd) {
  background-color: #f5fbff; }

.headline__footer {
  display: flex;
  justify-content: left;
  margin-top: 20px; }
  .headline__footer a {
    padding: 10px 0;
    margin-right: 20px; }
  .headline__footer svg {
    height: 1.25em;
    width: 1.25em;
    fill: currentColor; }

.block__headline {
  display: flex;
  align-items: flex-start; }

.headline__left {
  flex: 1 1 auto; }

.headline__right {
  flex: 0 0 70px;
  margin-top: 40px;
  margin-left: 60px; }
  @media only screen and (max-width: 640px) {
    .headline__right {
      margin-left: 20px; } }

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(-10deg); }
  to {
    -webkit-transform: rotate(10deg); } }

@-moz-keyframes wave {
  from {
    -moz-transform: rotate(-10deg); }
  to {
    -moz-transform: rotate(10deg); } }

@keyframes wave {
  from {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  to {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg); } }
  .headline__right .hand-svg {
    height: 70px;
    width: 70px;
    -webkit-transform-origin: center 75%;
    -moz-transform-origin: center 75%;
    -ms-transform-origin: center 75%;
    -o-transform-origin: center 75%;
    transform-origin: center 75%;
    -webkit-animation: wave 1s ease-in-out infinite alternate;
    -moz-animation: wave 1s ease-in-out infinite alternate;
    animation: wave 1s ease-in-out infinite alternate;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: margin-top 0.2s;
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
    cursor: grab;
    cursor: -webkit-grab; }
    .headline__right .hand-svg.high-five {
      margin-top: -10px; }
    .headline__right .hand-svg .finger-1,
    .headline__right .hand-svg .finger-2,
    .headline__right .hand-svg .finger-4,
    .headline__right .hand-svg .finger-5 {
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform-origin: center 75%;
      -moz-transform-origin: center 75%;
      -ms-transform-origin: center 75%;
      -o-transform-origin: center 75%;
      transform-origin: center 75%; }
    .headline__right .hand-svg:hover .finger-1 {
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      transform: rotate(-7deg); }
    .headline__right .hand-svg:hover .finger-2 {
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    .headline__right .hand-svg:hover .finger-4 {
      -webkit-transform: rotate(6deg);
      -moz-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
      -o-transform: rotate(6deg);
      transform: rotate(6deg); }
    .headline__right .hand-svg:hover .finger-5 {
      -webkit-transform: rotate(8deg);
      -moz-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      transform: rotate(8deg); }
  @media only screen and (max-width: 640px) {
    .headline__right {
      flex: 0 0 50px;
      margin-top: 10px; }
      .headline__right .hand-svg {
        height: 50px;
        width: 50px; } }

.projects .block__headline {
  align-items: flex-end; }
  .projects .block__headline .headline__left span {
    font-weight: normal; }
  .projects .block__headline .headline__right {
    flex: 0 0 160px;
    margin-left: 40px;
    line-height: 1.4;
    margin-bottom: 5px; }
    @media only screen and (max-width: 640px) {
      .projects .block__headline .headline__right {
        flex: 0 0 80px;
        margin-left: 20px; } }
    .projects .block__headline .headline__right svg {
      height: 14px;
      width: 27px;
      fill: currentColor; }
    .projects .block__headline .headline__right span {
      display: block;
      font-weight: normal; }
      @media only screen and (max-width: 640px) {
        .projects .block__headline .headline__right span {
          display: none; } }

.projects h1 {
  margin-top: 40px; }

.projects .project__footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.projects .project__navigation svg {
  height: 14px;
  width: 27px;
  fill: currentColor; }

.projects .project__navigation:first-child svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

@media only screen and (max-width: 640px) {
  .projects .project__navigation span {
    display: none; }
  .projects .project__navigation a {
    padding: 20px; } }

.projects .project__details {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .projects .project__details:after {
    content: "";
    display: table;
    clear: both; }
  .projects .project__details .project__detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .projects .project__details .project__detail:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 640px) {
      .projects .project__details .project__detail {
        width: 100%; }
        .projects .project__details .project__detail + .project__detail {
          margin-top: 20px; } }
  .projects .project__details.project__details--four .project__detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .projects .project__details.project__details--four .project__detail:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 640px) {
      .projects .project__details.project__details--four .project__detail {
        width: 100%; }
        .projects .project__details.project__details--four .project__detail + .project__detail {
          margin-top: 20px; } }
  .projects .project__details .detail__list-item {
    margin-top: 5px; }

.projects .org-chart {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: left; }
  @media only screen and (max-width: 640px) {
    .projects .org-chart {
      justify-content: center; } }

.projects .org-chart__dept {
  height: 140px;
  width: 140px;
  font-size: 1em;
  line-height: 1.7;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 200px;
  border: 4px solid #eef5ff;
  font-family: "Rubik", serif;
  text-align: center;
  position: relative; }
  .projects .org-chart__dept:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .projects .org-chart__dept span {
    position: absolute;
    top: 50%;
    right: 10px;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.75em;
    line-height: 1.6;
    display: inline-block; }
  @media only screen and (max-width: 640px) {
    .projects .org-chart__dept {
      height: 120px;
      width: 120px;
      margin: 10px; } }

.projects .org-chart__dept--me {
  border-color: #8CC2DD; }

.resume .group-section,
.writing .group-section {
  line-height: 1.4;
  margin-top: 80px; }
  .resume .group-section + .group-section,
  .writing .group-section + .group-section {
    margin-top: 40px;
    padding-top: 40px; }

.resume ul,
.writing ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px; }
  .resume ul .items__item,
  .writing ul .items__item {
    padding: 0; }
    .resume ul .items__item + .items__item,
    .writing ul .items__item + .items__item {
      margin-top: 30px; }
    @media only screen and (max-width: 640px) {
      .resume ul .items__item,
      .writing ul .items__item {
        margin-top: 20px; }
        .resume ul .items__item + .items__item,
        .writing ul .items__item + .items__item {
          margin-top: 20px; } }

.resume ul.group__items--skills,
.writing ul.group__items--skills {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px; }
  .resume ul.group__items--skills .items__item,
  .writing ul.group__items--skills .items__item {
    margin-top: 5px; }
