/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Rubik:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ol, ul, h1, h2, h3, h4, p, .img-wrapper, .group-section, .block__footer, .project__footer, .about__footer, .project__details, .org-chart, .about__content {
  padding: 0 80px; }
  @media only screen and (max-width: 640px) {
    ol, ul, h1, h2, h3, h4, p, .img-wrapper, .group-section, .block__footer, .project__footer, .about__footer, .project__details, .org-chart, .about__content {
      padding: 0 30px; } }

html {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #5B616E; }
  @media only screen and (max-width: 640px) {
    html {
      font-size: 16px; } }
  @media only screen and (min-width: 1441px) {
    html {
      font-size: 20px; } }

a {
  -webkit-transition: color, 0.4s;
  -moz-transition: color, 0.4s;
  transition: color, 0.4s;
  color: #DAA49A;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    color: #cf897c;
    cursor: pointer; }

h1 {
  font-size: 2.2em;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Rubik", sans-serif; }

h2 {
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: bold; }

h3, .group__labels .label__title {
  font-size: 1em;
  line-height: 1.7;
  font-weight: bold; }

h4, .project__details .detail__label {
  font-size: 0.75em;
  line-height: 1.6;
  font-style: italic; }

p {
  font-size: 1em;
  line-height: 1.7; }
  p:after {
    content: "";
    display: table;
    clear: both; }

.caption, .project__details .detail__list-item {
  font-size: 0.75em;
  line-height: 1.6; }

.headline {
  font-size: 1.6em;
  line-height: 1.3;
  font-family: "Rubik", sans-serif; }

body {
  background-color: #FFEBDE;
  background-image: url("/img/pattern.png");
  background-size: 200px auto;
  background-repeat: repeat;
  padding: 0 10px !important; }

.caption {
  text-align: center;
  font-style: italic; }
  .caption + p {
    margin-top: 40px; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

ol, ul {
  font-size: 1em;
  line-height: 1.7;
  margin-left: 40px; }
  ol li, ul li {
    padding-left: 10px; }
  ol + p, ul + p {
    margin-top: 20px; }
  ol + h3, ul + h3 {
    margin-top: 40px; }

ol {
  list-style: decimal; }

ul {
  list-style: circle; }

h1, h2, h3, h4 {
  margin: 0; }
  h1 + p, h1 + ol, h1 + ul, h2 + p, h2 + ol, h2 + ul, h3 + p, h3 + ol, h3 + ul, h4 + p, h4 + ol, h4 + ul {
    margin-top: 20px; }
  h1 + h3, h2 + h3, h3 + h3, h4 + h3 {
    margin-top: 40px; }

p {
  margin: 0; }
  p + p, p + ol, p + ul {
    margin-top: 20px; }
  p + h3 {
    margin-top: 40px; }

hr {
  border: none;
  border-top: 1px dashed #ECEBE4;
  margin: 60px 0; }
  @media only screen and (max-width: 640px) {
    hr {
      margin: 40px 0; } }

.img-wrapper {
  margin-top: 40px; }
  .img-wrapper + .caption {
    margin-top: 20px; }
  .img-wrapper + p {
    margin-top: 40px; }

.group-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  line-height: 1.4; }
  .group-section:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 640px) {
    .group-section {
      padding-top: 20px; } }
  .group-section + .group-section {
    border-top: 1px dashed #ECEBE4;
    margin-top: 60px;
    padding-top: 60px; }
    @media only screen and (max-width: 640px) {
      .group-section + .group-section {
        margin-top: 40px;
        padding-top: 40px; } }

.group__labels {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .group__labels:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 640px) {
    .group__labels {
      width: 100%; } }
  .group__labels .label__description {
    margin-top: 5px; }
    @media only screen and (max-width: 640px) {
      .group__labels .label__description {
        margin-top: 0; } }

.group__items {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0;
  margin: 0;
  list-style: none; }
  .group__items:last-child {
    margin-right: 0; }
  .group__items .items__item + .items__item {
    margin-top: 20px; }
    @media only screen and (max-width: 640px) {
      .group__items .items__item + .items__item {
        margin-top: 10px; } }

.page-wrapper {
  padding-top: 20px; }
  .page-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.page__navigation {
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-content: space-around;
  margin: 0px auto 70px auto; }
  .page__navigation a {
    display: inline-block;
    padding: 10px; }

.page__header {
  text-align: center;
  margin-bottom: 40px; }
  @media only screen and (max-width: 640px) {
    .page__header {
      margin-bottom: 30px; } }

.page__header__logo {
  position: absolute;
  top: -50px;
  right: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  transition: background 0.8s;
  margin: 0 auto;
  padding: 10px;
  background: #DAA49A;
  border-radius: 50px; }
  .page__header__logo:hover {
    background: #cf897c; }
  .page__header__logo img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%; }

.page__header__title {
  margin-top: 20px; }
  @media only screen and (max-width: 640px) {
    .page__header__title {
      margin-top: 10px; } }

.page__block {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 2px 20px rgba(218, 164, 154, 0.3); }
  .page__block + .page__block {
    margin-top: 80px; }
    @media only screen and (max-width: 640px) {
      .page__block + .page__block {
        margin-top: 60px; } }

.page__block--main {
  padding: 50px 0 80px 0; }
  @media only screen and (max-width: 640px) {
    .page__block--main {
      padding-bottom: 60px; } }

.page__block--role {
  padding: 80px 0; }
  @media only screen and (max-width: 640px) {
    .page__block--role {
      padding: 60px 0; } }

.block__footer, .project__footer, .about__footer {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px dashed #ECEBE4;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 640px) {
    .block__footer, .project__footer, .about__footer {
      margin-top: 40px; } }

html, body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px; }

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -110px; }
  .page-wrapper .page {
    padding: 0 0 110px 0; }

.footer {
  height: 110px; }

.footer {
  padding: 20px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.footer__logo {
  padding: 10px;
  display: inline-block;
  background: #FFEBDE;
  border-radius: 35px; }
  .footer__logo img {
    height: 50px;
    width: 50px;
    display: block;
    opacity: 0.5; }

.img-wrapper {
  text-align: center; }
  .img-wrapper img {
    width: 100%;
    display: inline-block; }
    .img-wrapper img:not(.img--no-shadow) {
      box-shadow: 0px 2px 20px #ECEBE4; }
    .img-wrapper img.img--small {
      max-width: 600px; }
    .img-wrapper img.img--smaller {
      max-width: 300px; }
  .img-wrapper.img-wrapper--composite {
    padding-bottom: 40px; }

.img-wrapper__scrollable-wrapper {
  position: relative;
  width: 100%;
  text-align: left; }

.scrollable-img {
  display: inline-block;
  height: 500px;
  width: 100%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  overflow-y: hidden;
  border-radius: 3px; }
  .scrollable-img:not(.no-scroll):hover {
    overflow-y: scroll;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 640px) {
      .scrollable-img:not(.no-scroll):hover {
        overflow-y: hidden;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1); } }
  .scrollable-img img {
    display: block;
    box-shadow: none; }
  @media only screen and (max-width: 640px) {
    .scrollable-img {
      height: 300px;
      width: 100%; } }
  .scrollable-img.no-scroll {
    overflow-y: hidden; }

.scrollable-img--desktop {
  height: 420px;
  width: 80%; }
  @media only screen and (max-width: 640px) {
    .scrollable-img--desktop {
      height: 210px; } }

.scrollable-img--mobile {
  height: 75%;
  width: 20%;
  position: absolute;
  right: 30%;
  bottom: -40px; }

.scrollable-img--tablet {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 20px;
  right: 0%; }

.projects .page__block--main {
  padding-bottom: 0; }

.project__header {
  text-align: center;
  position: relative;
  padding: 0 47px; }
  @media only screen and (max-width: 640px) {
    .project__header {
      padding: 0; } }
  .project__header .header__subtitle {
    margin-top: 5px; }

.project__navigation {
  position: absolute;
  top: 50%;
  right: 60px;
  bottom: auto;
  left: auto;
  display: inline-block; }
  .project__navigation a {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    padding: 20px; }
  .project__navigation svg {
    fill: #DAA49A;
    height: 14px;
    width: 27px;
    -webkit-transition: fill 0.4s;
    -moz-transition: fill 0.4s;
    transition: fill 0.4s; }
  .project__navigation span {
    padding: 20px; }
  .project__navigation:hover svg {
    fill: #cf897c; }
  .project__navigation:first-child {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 60px; }
    .project__navigation:first-child svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  @media only screen and (max-width: 640px) {
    .project__navigation {
      right: 30px; }
      .project__navigation:first-child {
        left: 30px; }
      .project__navigation.project__navigation--top {
        display: none; }
      .project__navigation span {
        display: none; }
      .project__navigation a {
        padding: 20px; } }

.project__details {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .project__details:after {
    content: "";
    display: table;
    clear: both; }
  .project__details .project__detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .project__details .project__detail:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 640px) {
      .project__details .project__detail {
        width: 100%; }
        .project__details .project__detail + .project__detail {
          margin-top: 20px; } }
  .project__details.project__details--four .project__detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .project__details.project__details--four .project__detail:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 640px) {
      .project__details.project__details--four .project__detail {
        width: 100%; }
        .project__details.project__details--four .project__detail + .project__detail {
          margin-top: 20px; } }
  .project__details .detail__list-item {
    margin-top: 5px; }

.org-chart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 10px 0; }

.org-chart__dept {
  height: 160px;
  width: 160px;
  font-size: 1em;
  line-height: 1.7;
  margin: 10px;
  padding: 5px;
  border-radius: 200px;
  border: 4px solid #ECEBE4;
  text-align: center;
  position: relative; }
  .org-chart__dept:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .org-chart__dept span {
    position: absolute;
    top: 50%;
    right: 10px;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.75em;
    line-height: 1.6;
    display: inline-block; }
  @media only screen and (max-width: 640px) {
    .org-chart__dept {
      height: 120px;
      width: 120px; } }

.org-chart__dept--me {
  border-color: #FFEBDE; }

.home .page__block--main {
  padding-bottom: 100px; }
  @media only screen and (max-width: 640px) {
    .home .page__block--main {
      padding-bottom: 60px; } }

.project-index .group__items {
  color: #DAA49A; }
  @media only screen and (max-width: 640px) {
    .project-index .group__items {
      list-style: circle;
      margin: 20px 0px 0px 20px;
      width: 100%; } }

.resume .group__labels,
.writing .group__labels {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .resume .group__labels:last-child,
  .writing .group__labels:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 640px) {
    .resume .group__labels,
    .writing .group__labels {
      width: 100%; } }

.resume .group__items,
.writing .group__items {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .resume .group__items:last-child,
  .writing .group__items:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 640px) {
    .resume .group__items,
    .writing .group__items {
      width: 100%; } }

@media only screen and (max-width: 640px) {
  .resume .items__item,
  .writing .items__item {
    margin-top: 20px; }
    .resume .items__item + .items__item,
    .writing .items__item + .items__item {
      margin-top: 20px; } }

.resume .item__job-title,
.writing .item__job-title {
  margin-top: 5px; }

.resume .item__dates,
.writing .item__dates {
  font-style: italic;
  margin-top: 5px; }

.about .page__block {
  padding-bottom: 0; }

.about__content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px; }
  .about__content:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 640px) {
    .about__content {
      padding-top: 20px; } }
  .about__content p {
    padding: 0; }

.pic-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-right: 20px;
  margin-bottom: 40px; }
  .pic-column:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 640px) {
    .pic-column {
      padding-right: 0;
      width: 100%; } }
  .pic-column img {
    width: 100%;
    border-radius: 300px;
    margin-bottom: 10px; }
  .pic-column .caption a {
    display: block;
    margin-top: 5px; }

.about-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .about-column:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 640px) {
    .about-column {
      width: 100%; } }

.about__footer {
  text-align: center; }
  .about__footer a {
    padding: 10px 20px; }
    @media only screen and (max-width: 640px) {
      .about__footer a {
        padding: 10px 0;
        display: block; } }

.about .page__block,
.projects .page__block {
  max-width: 960px; }
