.home .home__footer {
	@extend %base-element-padding;
	margin-top: $spacing*1.5;

	a {
		margin-right: $half-spacing;
		padding: $quarter-spacing;
		&:first-of-type {
			padding-left: 0;
		}
	}

	svg {
		@include size(1.2em);
		fill: currentColor;
	}
}


