.block__headline {
	display: flex;
	align-items: flex-start;
}

.headline__left {
	flex: 1 1 auto;
}

.headline__right {
	$hand-size: 125px;
	$hand-size-small: 60px;

	flex: 0 0 $hand-size;
	margin-top: $spacing*2;
	margin-left: $spacing*3;
	@media #{$small} {
		margin-left: $spacing;
	}

	@include keyframes(wave) {
		from { @include transform(rotate(-10deg)); }
		to { @include transform(rotate(10deg)); }
	}

	.hand-svg {
		@include size($hand-size);
		@include transform-origin(center 75%);
		@include animation(wave 1s ease-in-out null infinite alternate);
		@include transform(rotate(0deg));
		@include transition(margin-top .2s);
		cursor: grab;
		cursor: -webkit-grab;
		&.high-five {
			margin-top: -10px;
		}

		.finger-1,
		.finger-2,
		.finger-4,
		.finger-5 {
			@include transition(transform $transition-speed);
			transform-box: fill-box;
			@include transform-origin(center 75%);
		}

		.finger-1 {
			@include transform-origin(center center);
		}

		&:hover {
			.finger-1 { @include transform(rotate(-7deg)); }
			.finger-2 { @include transform(rotate(-6deg)); }
			.finger-4 { @include transform(rotate(6deg)); }
			.finger-5 { @include transform(rotate(8deg)); }
		}
	}

	@media #{$small} {
		flex: 0 0 $hand-size-small;
		.hand-svg {
			@include size($hand-size-small);
		}
	}
}
