.projects {

	.block__headline {
		align-items: flex-end;

		.headline__left {
			span {
				font-weight: normal;
			}
		}

		.headline__right {
			flex: 0 0 160px;
			margin-left: $spacing*2;
			line-height: 1.4;
			margin-bottom: 5px;

			@media #{$small} {
				flex: 0 0 80px;
				margin-left: $spacing;
			}

			svg {
				@include size(27px 14px);
				fill: currentColor;
			}

			span {
				display: block;
				font-weight: normal;
				@media #{$small} {
					display: none;
				}
			}
		}
	}

	h1 {
		margin-top: $spacing*2;
	}


	.project__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.project__navigation {
		svg {
			@include size(27px 14px);
			fill: currentColor;
		}

		&:first-child {
			svg {
				@include transform(rotate(180deg));
			}
		}

		@media #{$small} {
			span {
				display: none;
			}
			a {
				padding: $spacing;
			}
		}
	}

	.project__details {
		@include outer-container;

		.project__detail {
			@include span-columns(4);
			@media #{$small} {
				width: 100%;
				+ .project__detail {
					margin-top: $spacing;
				}
			}
		}

		&.project__details--four .project__detail {
			@include span-columns(3);
			@media #{$small} {
				width: 100%;
				+ .project__detail {
					margin-top: $spacing;
				}
			}
		}

		.detail__label {
			@extend %h4;
		}

		.detail__list-item {
			@extend %tiny-text;
			margin-top: $quarter-spacing;
		}
	}

	.org-chart {
		display: flex;
	    flex-wrap: wrap;
	    margin-top: $spacing*2;
	    justify-content: left;
	    @media #{$small} {
	    	justify-content: center;
	    }
	}

	.org-chart__dept {
		@include size(140px);
		@include get-font-size(1);
		margin-right: $spacing;
		margin-bottom: $spacing;
		padding: $quarter-spacing;
		border-radius: 200px;
		border: 4px solid $light-blue;
		font-family: $alt-font-family;
		text-align: center;
		position: relative;

		&:before {
	  		content: '';
	  		display: inline-block;
	  		height: 100%;
	  		vertical-align: middle;
	  		margin-right: -0.25em;
		}

		span {
			@include position(absolute, 50% $half-spacing null $half-spacing);
			@include transform(translateY(-50%));
			@include get-font-size(0.75);
		  	display: inline-block;
		}

		@media #{$small} {
			@include size(120px);
			margin: $half-spacing;
		}
	}

	.org-chart__dept--me {
		border-color: $blue;
	}

}
