.resume,
.writing {

	.group-section {
		line-height: 1.4;
		margin-top: $spacing*4;

		+ .group-section {
			margin-top: $spacing*2;
			padding-top: $spacing*2;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: $spacing*1.5;

		.items__item {
			padding: 0;
			+ .items__item {
				margin-top: $spacing*1.5;
			}

			@media #{$small} {
				margin-top: $spacing;
				+ .items__item {
					margin-top: $spacing;
				}
			}
		}
	}

	ul.group__items--skills {
		list-style: disc;
		padding-left: $spacing;
		margin-top: $half-spacing;

		.items__item {
			margin-top: $quarter-spacing;
		}
	}
}
