.resume,
.writing {

	.group__labels {
		@include span-columns(4);
		@media #{$small} {
			width: 100%;
		}
	}

	.group__items {
		@include span-columns(8);
		@media #{$small} {
			width: 100%;
		}
	}

	.items__item {
		+ .items__item {
			margin-top: $spacing*1.5;
		}

		@media #{$small} {
			margin-top: $spacing;
			+ .items__item {
				margin-top: $spacing;
			}
		}
	}

	.item__job-title {
		margin-top: $quarter-spacing;
	}

	.item__dates {
		font-style: italic;
		margin-top: $quarter-spacing;
	}

}
