.resume,
.writing {

	.group__labels {
		@include span-columns(4);
		@media #{$small} {
			width: 100%;
		}
	}

	.group__items {
		@include span-columns(8);
		@media #{$small} {
			width: 100%;
		}
	}

	.items__item {
		+ .items__item {
			margin-top: $spacing*1.5;
		}

		@media #{$small} {
			margin-top: $spacing;
			+ .items__item {
				margin-top: $spacing;
			}
		}
	}
}

.resume .page__block {
	padding-bottom: 0;
}
