<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>{{ pagetitle }}</title>
	<meta name="description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California." />
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/favicon.png">
	<meta property="og:image" content="http://lesliez.com/img/og-image.png"/>
	<meta name="twitter:image" content="http://lesliez.com/img/og-image.png"/>
	<meta property="og:title" content="Leslie Zacharkow, design & development"/>
	<meta name="twitter:title" content="Leslie Zacharkow, design & development"/>
	<meta property="og:description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California." />
	<meta name="twitter:description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California."/>
	<meta property="og:site_name" content="lesliez.com"/>
	<meta property="og:url" content="http://lesliez.com"/>
	<meta name="twitter:card" content="summary"/>
</head>
<body>

<!-- 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈

If you're wondering, I built my site with Node, Express, Nunjucks, and Sass. https://github.com/lzacharkow/lesliez

🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 -->

	<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18.7896214 16" style="enable-background:new 0 0 18.7896214 16;" xml:space="preserve">
		<symbol id="arrow">
			<rect x="0.0000005" y="6.564764" width="18.9138031" height="2.9097066"/>
			<path d="M17.2084007,2.4832547l7.8908195,4.0622787c1.2033806,0.6195135,1.2003994,2.3410249-0.0051212,2.9563651
			l-7.9011154,4.0330057c-1.1543159,0.5892029-2.386344-0.6468582-1.7933712-1.799242l1.9237537-3.7386198l-1.9124517-3.7166553
			C14.8168612,3.1259041,16.0540333,1.8889745,17.2084007,2.4832547z"/>
		</symbol>
	</svg>

	<div class="page-wrapper">
		<div class="page {{ page }}">
			<div class="page__navigation">
				<a href="/" class="
					{% if page == 'home' %}a--current-page
					{% endif %}">About</a>
				<a href="/projects" class="
					{% if page == 'projects' %}a--current-page
					{% elif page == 'project-index' %}a--current-page
					{% endif %}">Projects</a>
				<a href="/resume" class="
					{% if page == 'resume' %}a--current-page
					{% endif %}">Resume</a>
				<a href="/writing" class="
					{% if page == 'writing' %}a--current-page
					{% endif %}">Writing</a>
			</div>

			<div class="page__block">
				<div class="block__content">
					{% block mainContent %}{% endblock %}
				</div>
			</div>

			{% block extraContent %}{% endblock %}

		</div>
	</div>

	{% if useJs %}
	<script type="text/javascript" src="/js/jquery-min.js" ></script>
	<script type="text/javascript" src="/js/jquery-lazyload.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/cycle.js"></script>
	{% endif %}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42480214-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>
