<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>{{ pagetitle }}</title>
	<meta name="description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California." />
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/favicon.png">
	<meta property="og:image" content="http://lesliez.com/img/og-image.png"/>
	<meta name="twitter:image" content="http://lesliez.com/img/og-image.png"/>
	<meta property="og:title" content="Leslie Zacharkow, design & development"/>
	<meta name="twitter:title" content="Leslie Zacharkow, design & development"/>
	<meta property="og:description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California." />
	<meta name="twitter:description" content="Leslie is a designer, developer, and cat technologist in Berkeley, California."/>
	<meta property="og:site_name" content="lesliez.com"/>
	<meta property="og:url" content="http://lesliez.com"/>
	<meta name="twitter:card" content="summary"/>
</head>
<body>

<!-- 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈

If you're wondering, I built my site with Node, Express, Nunjucks, and Sass. https://github.com/lzacharkow/lesliez

🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 -->

	<svg display="none" viewBox="0 0 27 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<symbol id="arrow">
			<path transform="translate(-330.000000, -325.000000)" d="M344.910451,325 C344.972057,327.168537 345.633883,329.581738 346.985699,331.547855 L330,331.547855 L330,334.453905 L346.99978,334.453905 C345.621562,336.467547 345.09703,338.660726 344.910451,341 C347.577118,337.720792 352.470407,334.585919 356.434323,333 C352.470407,331.343674 347.432783,328.388339 344.910451,325"></path>
		</symbol>
	</svg>


	<div class="page-wrapper">
		<div class="page {{ page }}">
			<div class="page__navigation">
				<a href="/projects">Projects</a>
				<a href="/about">About</a>
				<a href="/resume">Resume</a>
				<a href="/writing">Writing</a>
			</div>

			<div class="page__block page__block--main">
				<div class="page__header">
					<div class="page__header__logo">
						<a href="/"><img src="/img/logo.svg"></a>
					</div>
					{% if title %}
						<div class="page__header__title">{{ title }}</div>
					{% endif %}
				</div>
				<div class="block__content">
					{% block mainContent %}{% endblock %}
				</div>
			</div>

			{% block extraContent %}{% endblock %}

		</div>
	</div>

	<div class="footer">
		<div class="footer__logo">
			<img src="/img/logo.svg">
		</div>
	</div>

	{% if useJs %}
	<script type="text/javascript" src="/js/jquery-min.js" ></script>
	<script type="text/javascript" src="/js/jquery-lazyload.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/cycle.js"></script>
	{% endif %}

</body>
</html>
